<div class="banner" style="background-image: url('<%= image_path "banner.jpg" %>')">
  <div>
    <h1>CookBook</h1>
    <h3>Save your favourite recipes</h3>
  </div>
</div>

<%= link_to "Add New Category", new_category_path %>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>


